@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>Please choose your Star Wars Legion Faction</h1>
    <p class="lead">The Grand Army Of The Republic</p>
    <p class="lead">The Confederacy Of Independant Systems</p>
    <p class="lead">The Shadow Collective</p>
    <p class="lead">The Galactic Empire</p>
    <p class="lead">The Rebel Alliance</p>
</div>
